<li>
    <% if((locals.user && locals.user.id == post.user.id) || (locals.user && locals.user.id == comment.user.id)){ %>
            
            <a href="destroyComment/<%= comment.id %>">x</a>
    <%}%>
            <small><%= comment.user.name %></small>: <%= comment.content %>
</li>